<p>
  Add all of your upcoming Eventbrite events to your calendar in one go.
</p>

<div class="row">
<% flash.each do |type, message| %>
  <div class="alert <%= bootstrap_class_for(type) %> fade in col-md-4" role="alert">
    <button class="close" data-dismiss="alert">×</button>
    <%= message %>
  </div>
<% end %>
</div>
<% unless logged_in? %>

  <p>
    <%= link_to "Connect your calendar", "/auth/cronofy", class: 'btn btn-success', data: { disable_with: "Connecting via Cronofy..." }  %>
  </p>

<% else %>

  <p>
    Connected to calendars for <strong><%= current_user.email %></strong>
  </p>

  <% unless current_user.eventbrite_credentials? %>

    <p>
      <%= link_to "Connect to Eventbrite", "/auth/eventbrite", class: 'btn btn-success', data: { disable_with: "Connecting to Eventbrite..." } %>
    </p>

  <% else %>

    <p>
      Connected to <strong>Eventbrite</strong>
    </p>

    <% if params[:sync_complete] %>

      <p>
        <%= button_to 'Keep my calendar in sync with Eventbrite', '/sync_always', class: 'btn btn-success', data: { disable_with: "Setting up..." } %>
      </p>

    <% else %>

      <% if params[:load_events] %>

        <% if eventbrite_orders.any? %>
          <ol>
          <% eventbrite_orders.each do |order| %>
            <li><%= link_to "#{order.name} - #{order.start_time.strftime('%F')}", order.url %></li>
          <% end %>
          </ol>
        <% else %>
          <p>
            No upcoming events found, you need to get out more ;).
          </p>
        <% end %>

      <% else %>

        <%= link_to "Show upcoming events", root_path(load_events: 1), class: "btn btn-default", data: { disable_with: "Loading from Eventbrite, this can take a little while..." } %>

      <% end %>

      <p>
        <%= button_to 'Synchronize events with your calendar', '/sync', class: 'btn btn-success', data: { disable_with: "Synchronizing events..." } %>
      </p>

    <% end %>

  <% end %>

<% end %>
