<h1>Eventbrite Calendar Connector</h1>

<p>
  Sample app that will add all of your upcoming Eventbrite events to your calendar.
</p>

<div class="row">
<% flash.each do |type, message| %>
  <div class="alert <%= bootstrap_class_for(type) %> fade in col-md-4" role="alert">
    <button class="close" data-dismiss="alert">×</button>
    <%= message %>
  </div>
<% end %>
</div>
<% unless logged_in? %>

  <p>
    <%= link_to "Connect your calendar", "/auth/cronofy", class: 'btn btn-success', data: { disable_with: "Connecting via Cronofy..." }  %>
  </p>

<% else %>

  <p>
    Connected to calendars for <strong><%= current_user.email %></strong>
  </p>

  <% unless current_user.eventbrite_credentials? %>

    <p>
      <%= link_to "Connect to Eventbrite", "/auth/eventbrite", class: 'btn btn-success', data: { disable_with: "Connecting to Eventbrite..." } %>
    </p>

  <% else %>

    <p>
      Connected to <strong>Eventbrite</strong>
    </p>

    <% if params[:load_events] %>

      <ol>
      <% eventbrite_orders.each do |order| %>
        <li><%= link_to "#{order.name} - #{order.start_time.strftime('%F')}", order.url %></li>
      <% end %>
      </ol>

    <% else %>

      <%= link_to "Show upcoming events", root_path(load_events: 1), class: "btn btn-default", data: { disable_with: "Loading from Eventbrite, this can take a little while..." } %>

    <% end %>

    <p>
      <%= button_to 'Synchronize events with your calendar', '/sync', class: 'btn btn-success', data: { disable_with: "Synchronizing events..." } %>
    </p>

    <p>
      <div class="btn-group" role="group">
        <%= link_to 'Logout', '/logout', class: 'btn btn-link' %> <%= button_to 'Delete Account', '/', method: :delete, data: { confirm: "Are you sure?", disable_with: "Deleting..." }, class: 'btn btn-link' %>
      </div>
    </p>

  <% end %>

<% end %>